header {
  background-color: #0a2640;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: -10px;
}

.header-li {
  color: #fff;
}

/* .container1{
  max-width: 1600px;
  margin: auto;
} */

.header-button {
  display: flex;
  padding: 8px 40px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: 2px solid #fff;
  background: #fff;
  color: #000;
  margin-top: -0.5rem;
}

/* HERO-HEADING */

.hero-heading {
  background: #0a2640;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 615px;
}

.hero-heading-content {
  text-align: center;
  width: 888px;
  height: 279px;
  flex-shrink: 0;
  padding-top: 0;
  margin-bottom: 100px;
}

.hero-heading-about {
  color: var(--Light-Grey, #f1f1f1);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 0;
}

.hero-heading-heading {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  padding-top: -20px;
}

.hero-heading-text {
  width: 650px;
  height: 64px;
  margin-left: 120px;
  color: var(--Light-Grey, #f1f1f1);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* SECTION-IMAGES */

.section-images-container {
  display: grid;
  grid-template-columns: 300px 400px 300px;
  grid-template-rows: 2;
  gap: 2rem;
  transform: translateY(-10%);
  margin-top: 0;
}

.section-image2 {
  grid-row: span 2;
}

/* OUR-STORY */

.section-our-story {
  margin: 100px;
}

.section-our-story-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 150px 200px;
}

.our-story {
  color: var(--Gray, #777);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.our-story-heading {
  width: 900px;
  height: 184px;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.our-story-text {
  width: 799px;
  height: 168px;
  color: var(--Gray, #777);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* OUR-NUMBERS */

.section-our-numbers {
  height: 584px;
  background: #0a2640;
}

.our-numbers-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.our-numbers-style {
  color: var(--Light-Grey, #f1f1f1);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.our-numbers-heading {
  width: 842px;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.our-numbers {
  display: flex;
  align-items: space-between;
  margin-left: 25px;
}

.number {
  margin-right: 10rem;
}

.our-number {
  color: #4fe9a4;
  font-family: Manrope;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 58.333% */
}

.our-number-text {
  padding-top: 32px;
  color: var(--Light-Grey, #f1f1f1);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

/* SECTION-OUR-TEAM */

.section-our-team {
}

.section-our-team-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.our-team-content {
  display: flex;
  width: 800px;
  height: 121px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 200px;
  gap: 12px;
}

.our-team {
  color: var(--Gray, #777);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.our-team-heading {
  width: 842px;
  color: #000;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.our-team-text {
  width: 799px;
  height: 110px;
  color: var(--Gray, #777);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.our-team-cards {
  display: flex;
  justify-content: space-around;
}

.our-team-card {
}

.our-team-card-heading {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 171.429% */
}

.our-team-card-text {
  color: var(--Gray, #777);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.section-our-values {
  background: #0a2640;
}
.section-our-values-container {
  padding: 100px;
  margin-left: 299px;
}

.our-values-content {
  color: rgba(255, 255, 255, 1);
  display: flex;
  width: 800px;
  height: 121px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
  padding-bottom: 200px;
}

.our-values {
  color: var(--White, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 10px;
}
.our-values-heading {
  width: 842px;
  color: #fff;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
  padding-bottom: 20px;
}
.our-values-text {
  width: 799px;
  height: 110px;
  flex-shrink: 0;
  color: var(--Light-Grey, #f1f1f1);

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.our-values-cards {
}
.our-values-card {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 72px;
  border-radius: 24px;
}

.card-content {
  padding: 10px;
}

.card-heading {
  display: flex;
  width: 842px;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  /* Headings/Text L */
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 171.429% */
}

.card-text {
  width: 602px;
  height: 71px;
  color: var(--Light-Grey, #f1f1f1);

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

/* SECTION-EMAIL-ADDRESS */

.section-email-address {
}

.email-address {
  margin: 150px 150px;
  width: 1200px;
  height: 400px;
  background: rgba(10, 38, 64, 1);
}

.label-div {
  width: 750px;
  text-align: center;
  margin: auto;
  padding-top: 70px;
}

.label-text {
  width: 100px;
  color: #fff;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.email-address-buttons {
  display: flex;
  gap: 20px;
  margin-left: 350px;
  margin-top: 30px;
}

.email-address-input {
  width: 300px;
  height: 46px;
  font-size: 20px;
  flex-shrink: 0;
  border-radius: 240px;
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  text-align: center;

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-style: bold;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.email-address-button {
  width: 198px;
  height: 46px;
  display: inline-flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  border: 2px solid var(--Green, #65e4a3);
  background: var(--Green, #65e4a3);
}

/* FOOTER */

/* footer qismi */

.footer-bg-image {
  /* width: 1400px;
  height: 450px; */
  border-radius: 15px;
  background-image: url(/images/footer-bg-image.png);
  background-color: #0a2640;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-blocks {
  gap: 50px;
}

.footer {
  width: 1400px;
  /* height: 450px; */
}

.logo-footer {
  display: flex;
  width: 156px;
  height: 41px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
  gap: 10.833px;
  flex-shrink: 0;
  color: rgba(10, 38, 64, 1);
  margin-top: -10px;
  margin-bottom: 10px;
}

.h2-footer {
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.input-footer {
  width: 370px;
  height: 56px;
  top: 261px;
  left: 298px;
  border-radius: 240px;

  border-radius: 240px;
}

.button-footer {
  width: 210px;
  height: 55px;
  border-radius: 240px;
  background-color: #65e4a3;
  background-color: #65e4a3;
  color: black;
}

.button-footer.hiring {
  width: 72px;
  height: 28px;
  text-align: center;
}

.footer-p {
  color: var(--Gray, #777);
  width: 300px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.logo-footer {
  width: 156px;
  height: 41px;
  top: 100px;
  left: 100px;
  padding: 0px, 0px, 0px, 0px;
}

.footer-p {
  width: 300px;
  height: 84px;
  top: 181px;
  left: 100px;
}

.footer-ul {
  width: 642px;
  height: 240px;
  top: 100px;
  left: 579px;
  left: 579px;
}

.footer-ul-1 {
  width: 150px;
  height: 172px;
  top: 168px;
  left: 579px;
}

.footer-item {
  padding-bottom: 20px;
}

.footer-all-rights {
  width: 250px;
  color: var(--Gray, #777);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  left: 579px;
}
